/*
Charlston Green: #202c34
Dark Slate Gray: #244c53
Azurite: #6f919b
Space Cadet: #202d46
Matallic Blue: #22536d
Stream: #acd0cd
*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.disable-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.stop-scrolling { 
    height: 100%; 
    overflow: hidden !important; 
} 

html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    height: 100%;
    font-family: "Rubik", sans-serif;
    line-height: 1.5;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.fixed {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    color: #eeeeee;
    text-align: center;
    display: table;
}
.fixed h3 {
    display: table-cell;
    vertical-align: middle;
  }
.scroll {
    background-color: #202c34;
    padding-top: 2px;
}

.one {
    background-image: url(../images/forest4.jpg);
}

.two {
    background-image: url(../images/forest2.jpg);
}

.three {
    background-image: url(../images/forest1.jpg);
}

.four {
    background-image: url(../images/forest3.jpg);
}

/*------------------*/
.blue {
    background-color: #202c34fb;
    color:#6f919b;
    box-shadow: 0 0 20px  #11191f;
}
.content-box {
    position: absolute;
    padding: 20px;
    height: 420pt;
    width: 400px;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

#continue{
    width: 50%;
    line-height: 1;
    padding: 5px;
    font-size: 30px;
    border: 3px solid #22536d;
    border-radius: 6px;
    background-image: linear-gradient(to right,#202d46 50%, #6f919b00 50%);
    background-size: 200% auto;
    background-position: 100% 0;
    transition: background-position 275ms ease;
    margin: 0 25%;
}

#continueLink{
    position: relative;
    display: inline-block;
    color:#22536d;
    text-decoration: underline;
    overflow: hidden;
}

#continueLink::before {
    position: absolute;
    content: attr(data-content);
    top: 0;
    left: 0;
    color:  #6f919b;
    text-decoration: underline;
    overflow: hidden;
    transition: width 275ms ease;
    width: 0;
    white-space: nowrap;
}

#continueLink:hover::before{
    width: 100%;
}

#continue:hover {
    background-position: 0 0;
}
