/*
Colors:
Charlston Green: #202c34
Dark Slate Gray: #244c53
Azurite: #6f919b
Space Cadet: #202d46
Matallic Blue: #22536d
Stream: #acd0cd
*/

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
/*Stop Scrolling Function CSS */
.stop-scrolling { 
    height: 100%; 
    overflow: hidden !important; 
} 
/*Cell Phone*/
@media screen and (max-device-width: 640px){
    .grid-container-two {
        grid-template-columns: auto auto;
        grid-template-rows: 50% auto;
    }

    .big-content-box {
        width: 750px !important;
        height: 900px !important;
        font-size: 30px;
    }

    #continueLink {
        margin: 3%;
    }

    .fixedTwoBox1 {
        grid-column: 1 !important;
        grid-row: 1;
        margin-left: 30px;
    }
    .fixedTwoBox2 {
        grid-column: 2 !important;
        grid-row: 1;
    }
    .fixedTwoBox3 {
        grid-column: 1 / span 2 !important;
        grid-row: 2;
        margin:0 30px;
        width: auto !important;
        font-size: 25px !important;
    }
  }

/*Tablet*/
@media screen and (min-device-width: 768px) and (max-device-width: 1024px){
    .grid-container-two {
        grid-template-columns: auto auto;
        grid-template-rows: 50% auto;
    }

    .big-content-box {
        width: 750px !important;
        height: 900px !important;
        font-size: 30px;
    }

    #continueLink {
        margin: 3%;
    }
    
    .fixedTwoBox1 {
        grid-column: 1 !important;
        grid-row: 1;
        margin-left: 30px;
    }
    .fixedTwoBox2 {
        grid-column: 2 !important;
        grid-row: 1;
    }
    .fixedTwoBox3 {
        grid-column: 1 / span 2 !important;
        grid-row: 2;
        margin:0 30px;
        width: auto !important;
        font-size: 25px !important;
    }
  }

.spacer
{
    width: 100%;
    height: 57px;
}


/* Background CSS */
html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    height: 100%;
    font-family: "Rubik", sans-serif;
    line-height: 1.5;
    word-spacing: 2px;
    letter-spacing: 1px;
}

.fixed {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    color: #eeeeee;
    text-align: center;
    display: table;
}
.fixed h3 {
    display: table-cell;
    vertical-align: middle;
  }
.scroll {
    background-color: #202c34;
    padding-top: 2px;
}

.one {
    background-image: url(../images/forest4.jpg);
}

.two {
    background-image: url(../images/forest2.jpg);
}

.three {
    background-image: url(../images/forest1.jpg);
}

.four {
    background-image: url(../images/forest3.jpg);
}

/*Navigation Bar CSS*/
#navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #202c34;
    z-index: 1000;
    border-bottom: 4px solid #182127c7;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#nabvar ul li {
    display: block;
}
  
#navbar  a {
    display: block;
    text-decoration: none;
    color: #6f919b;
    text-align: center;
    padding: 18px 30px;
    font-family: "Courier New";
    overflow: hidden;
    background: linear-gradient(to right, #344c53 50%, #202c34 50%);
    background-size: 201% 100%;
    background-position: 100%;
    transition: background-position 275ms ease;
}

#navbar a:hover {
    background-position: 0 100%;
    color: #acd0cd;
}

#deadTree {
    margin-left: 15px;
    margin-right: 15px;
    transition: transform  500ms ease;
}
#deadTree:hover {
    transform: scale(1.1);
}

/*Creation of Grids*/
.grid-container-3x1 {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 100%;
    align-items: center;
    justify-content: center;
}

/*Placing Containers*/ 
.fixedOneBox {
    grid-column: 2;
}

.fixedTwoBox1 {
    grid-column: 1;
}

.fixedTwoBox2 {
    grid-column: 2;
    margin: 0 30px;
}

.fixedTwoBox3 {
    grid-column: 3;
}



/* Main Container CSS */
/*Container Colors*/
.blue {
    background-color: #202c34fb;
    color:#6f919b;
    box-shadow: 0 0 20px  #11191f;
}

/*Content Box Properties*/
.content-box {
    padding: 20px;
    height: 420pt;
    width: 400px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

/*Continue Button CSS*/
#continue{
    width: 50%;
    line-height: 1;
    padding: 5px;
    font-size: 30px;
    border: 3px solid #22536d;
    border-radius: 6px;
    background-image: linear-gradient(to right,#202d46 50%, #6f919b00 50%);
    background-size: 200% auto;
    background-position: 100% 0;
    transition: background-position 275ms ease;
    margin: 0 25%;
}

#continueLink{
    position: relative;
    display: inline-block;
    color:#22536d;
    text-decoration: underline;
    overflow: hidden;
}

#continueLink::before {
    position: absolute;
    content: attr(data-content);
    top: 0;
    left: 0;
    color:  #6f919b;
    text-decoration: underline;
    overflow: hidden;
    transition: width 275ms ease;
    width: 0;
    white-space: nowrap;
}

#continueLink:hover::before{
    width: 100%;
}

#continue:hover {
    background-position: 0 0;
}
